@page "/"

@using OpenCvSharp5

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<pre>@OpenCvSharp5.Cv2.GetBuildInformation()</pre>

<SurveyPrompt Title="How is Blazor working for you?" />
